.entry {
  height: 100vh;

  .header {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0 10px 5px #f5f5f5;;
    
    @media screen and (max-width: 412px) {
      padding: 0 30px;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      [alt="viewer"] {
        margin-left: 10px;
      }

      &:hover [alt="logo"] {
        transition: .5s;
        transform: rotate(360deg);
      }
    }

    .selection {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      a {
        text-decoration: none;
        color: #110F15;
        transition: .2s color;

        &:hover {
          color: #7B2CBF;
        }

      }

      .registration {
        margin-right: 5px;
      }

      .authentication {
        margin-left: 5px;
      }
    }
  }

  .containerForm {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    .headForm {
      color: #7B2CBF;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      line-height: 21px;
      margin-bottom: 25px;
    }


    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 10px #D6D6D8;
      border-radius: 10px;
      width: 300px;
      height: auto;
      padding: 25px 0;


      .inputGroup {
        padding-bottom: 20px;

        input {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          width: 220px;
          height: 30px;
          box-shadow: 0 0 2px #88878A;
          border-radius: 10px;
          border: none;
          outline: none;
          padding-left: 10px;

          &::placeholder {
            color: #D6D6D8;
          }
        }

      }

      .btnSubmit {
        outline: none;
        width: 150px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background: #7B2CBF;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer;
        margin: 10px 0;

        &:hover {
          box-shadow: 0 0 5px #7B2CBF;
        }
      }

      .error {
        color: red;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .empty {
    background: rgba(255, 0, 0, 0.5);
  }
}